/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* ----------------RESET-------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /* overflow-x: hidden; */
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------RESET-------------- */
/* 
html {
    font-size: 62.5%;
    font-family: badaboom bb, sans-serif;
}
.container {
    width: 1000px;
    margin: 0 auto;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0 0 0;
}

nav .navigation {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0rem 0rem 0rem 0rem;
}

nav .navigation li a {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    color: gray;
}

nav img {
    max-width: 100%;
    margin: 0rem 5rem;
}

.get-started {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.innovation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.get-started h1 {
    font-size: 7rem;
    margin: 4rem 0rem 0rem 0rem;
    padding: 3rem;
}

button {
    width: 17rem;
    height: 3.5rem;
    font-size: 1.7rem;
    background: transparent;
    margin: 0rem 9.5rem 0rem 0rem;
}

.pic {
    max-width: 100%;
    margin: 7rem 3rem 0rem 0rem;
}

.on {
    margin: 0rem 0rem 0rem 9rem;
}

.demand {
    margin: 0rem 0rem 0rem 4rem;
}

hr {
    width: 85%;
    border-top: 2pt solid black;
    margin-top: 7.5rem;
}

.features-about {
    display: flex;
    margin: 3.5rem 5rem;
}

.features-about h2 {
    margin: -1.5rem 0rem 0rem 1.5rem;    
}

.features-about p {
    font-family: 'Exo 2', sans-serif;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 1.2;
}

.middle-image {
    max-width: 0%;
    margin: -2.5rem 0rem 0rem 5rem;
    padding: 2rem;
}

.services-product-vision {
    display: flex;
    justify-content: space-around;
    font-family: 'Exo 2', sans-serif;
    margin: 0 7rem;
    line-height: 1.2;
    font-size: 1.6rem;
}

.services-product-vision h2 {
    font-size: 1.5rem;
    font-family: badaboom bb, sans-serif;
    margin: 1.3rem 0rem 0rem 0.4rem;
}

.services-product-vision p {
    margin: 1.5rem 0rem 0rem 0.5rem;
}
.second-break {
    width: 87%;
    border-top: 2pt solid black;
    margin: 3rem 0rem 0rem 7rem;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 0rem 7rem;
    font-size: 1.8rem;
    font-family: Exo2;
}

.contact h2 {
    font-family: badaboom bb, sans-serif;
    margin: 1rem 0rem 2rem 0rem;
}

.contact a {
    text-decoration: none;
    color: black;
    margin: 1rem 0rem 0rem 0rem;
}

.copyright {
    text-align: center;
    font-family: Exo2;
    margin-top: 1rem;
} */

/* ----------------------------------------------- */
/* margin: 0rem 0rem 0rem 0rem; */
/* padding: 0rem 0rem 0rem 0rem; */

html {
    font-size: 62.5%;
    font-family: badaboom bb, sans-serif;
}

.container {
    width: 90%;
    border: 1pt solid purple;
    margin: 0 auto;
    font-size: 1.5rem;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1% auto;
}

nav .navigation {
    display: flex;
    justify-content: space-around;
}

nav .navigation li {
    margin: 10%;
}
nav .navigation li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: gray;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
}



nav img {
    border: 1pt solid purple;
    width: 12%;
    height: 11%;
}

/* .middle-image img {
    border: 2pt solid blue;
    width: 100%;
} */

